<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
  <a href="/" class="navbar-brand px-lg-4">
    <img src="/images/logo.png" alt="Raja Trade Logo" style="height: 65px; width: auto;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ml-auto py-0">
      <a href="/" class="nav-item nav-link">Home</a>
      <a href="/about" class="nav-item nav-link">About Us</a>
      <div class="nav-item dropdown">
        <a href="/services" class="nav-link dropdown-toggle" data-toggle="dropdown">Services</a>
        <div class="dropdown-menu rounded-0 m-0">
          <a href="/products/rosctl-licence" class="dropdown-item">RoSCTL Licence</a>
          <a href="/products/iec-code" class="dropdown-item">IEC CODE</a>
          <a href="/products/meis-seis-incentives" class="dropdown-item">MEIS &amp; SEIS INCENTIVES</a>
          <a href="/products/epcg-licence" class="dropdown-item">EPCG LICENSE</a>
          <a href="/products/advance-licence" class="dropdown-item">ADVANCE LICENSE</a>
          <a href="/products/export-house" class="dropdown-item">EXPORT HOUSE CERTIFICATE</a>
          <a href="/products/rcmc-application" class="dropdown-item">RCMC APPLICATION</a>
          <a href="/products/coo" class="dropdown-item">C.O.O (Certificate of Origin)</a>
          <a href="/products/digital-signature" class="dropdown-item">DIGITAL SIGNATURE</a>
          <a href="/products/no-incentive" class="dropdown-item">NO INCENTIVE CERTIFICATE</a>
          <a href="/products/free-sales" class="dropdown-item">FREE SALES &amp; COMMERCE CERTIFICATE</a>
          <a href="/products/other-documentation" class="dropdown-item">OTHER DOCUMENTATION WORK</a>
          <a href="/products/rodtep-rosctl" class="dropdown-item">RoDTEP / RoSCTL SCHEME</a>
          <a href="/products/rcmc-registration" class="dropdown-item">RCMC REGISTRATION PROCEDURE</a>
          <a href="/products/fssai-licence" class="dropdown-item">FSSAI LICENCE</a>
          <a href="/products/ifsc-ad-code" class="dropdown-item">IFSC &amp; AD CODE REGISTRATION</a>
          <a href="/products/duty-drawback" class="dropdown-item">DUTY DRAWBACK / BRAND RATE</a>
          <a href="/products/bank-guarantee-bond" class="dropdown-item">BANK GUARANTEE / BOND CANCELLATION</a>
        </div>
      </div>
      <a href="/contact" class="nav-item nav-link">Contact</a>
    </div>
    <a href="/contact" class="btn btn-primary py-3 px-6 ml-3 d-none d-lg-block">Get a Quote</a>
  </div>
</nav>
