<div class="top-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6 d-none d-lg-block">
        <div class="top-bar-left">
          <div class="text"><i class="fas fa-phone-alt"></i><p>+91-9324093211</p></div>
          <div class="text"><i class="fas fa-envelope"></i><p>mail@rajatrade.com</p></div>
        </div>
      </div>
      <div class="col-lg-6 text-right d-none d-lg-block">
        <div class="top-bar-right">
          <div class="text"><i class="fas fa-map-marker-alt"></i><p>Latif House, Office No 24, Masjid Bunder(East), Mumbai 400009</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
